* {
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;
    color: black;
}
.bmt{
    margin-top: 20px;
}
.mt{
    margin-top: 10px;
}
.smt{
    margin-top: 5px;
}
.mint-cell-wrapper{
    font-size: 14px !important;
    line-height: normal !important;
}
input,textarea{
    font-size: 14px !important;
    color: rgb(117,117,117) !important;
}
::-webkit-input-placeholder {
    color: rgb(172,169,169);
    font-size: 14px;
    text-align: left;
    font-family: normal;
}
:-moz-placeholder {
    color: rgb(172,169,169);
    font-size: 14px;
    text-align: left;
    font-family: normal;
}
::-moz-placeholder {
    color: rgb(172,169,169);
    font-size: 14px;
    text-align: left;
    font-family: normal;
}
:-ms-input-placeholder {
    color: rgb(172,169,169);
    font-size: 14px;
    text-align: left;
    font-family: normal;
}

/*修改mint-ui默认样式*/
.mint-button:not(.is-disabled):active::after {
    opacity: .2  !important;
}
.mint-button--primary {
    background-color: rgb(110,193,191)  !important;
}
.mint-button--primary.is-plain {
    border: 1px solid rgb(110,193,191)  !important;
    color: rgb(110,193,191)  !important;
}
.mint-badge.is-primary {
    background-color: rgb(110,193,191)  !important;
}
.mint-switch-input:checked + .mint-switch-core {
    border-color: rgb(110,193,191)  !important;
    background-color: rgb(110,193,191)  !important;
}
.mint-navbar .mint-tab-item.is-selected {
    border-bottom: 3px solid rgb(110,193,191)  !important;
    color: rgb(110,193,191)  !important;
}
.mint-tabbar > .mint-tab-item.is-selected {
    color: rgb(110,193,191)  !important;
}
.mint-searchbar-cancel {
    color: rgb(110,193,191)  !important;
}
.mint-checkbox-input:checked + .mint-checkbox-core {
    background-color: rgb(110,193,191)  !important;
    border-color: rgb(110,193,191) !important;
}
.mint-radio-input:checked + .mint-radio-core {
    background-color: rgb(110,193,191) !important;
    border-color: rgb(110,193,191) !important;
}
.mt-range-progress {
    background-color: rgb(110,193,191) !important;
}
.mt-progress-progress {
    background-color: rgb(110,193,191) !important;
}
.mint-msgbox-confirm {
    color: rgb(110,193,191) !important;
}
.mint-msgbox-confirm:active {
    color: rgb(110,193,191) !important;
}
.mint-datetime-action {
    color: rgb(110,193,191) !important;
}
.mint-cell-wrapper, .mint-cell:last-child {
    background-image: none  !important;
}
.mint-loadmore-content{
    font-size: 14px !important;
    color: #8C8888;
}
.mint-cell-title{
    min-width: 30% !important;
}
.mint-cell-text{
    color: rgba(0,0,0,0.7)  !important;
}
.mint-cell {
    /*border-bottom: 1px solid rgb(248,248,248);*/
}
.mint-radiolist-title{
    font-size: 14px  !important;
    margin: 0  !important;
    padding: 8px 20px !important;
    color: rgba(0,0,0,0.7)  !important;
    background-color: white  !important;
    border-top: 1px solid rgb(248,248,248)  !important;
    border-bottom: 1px solid rgb(248,248,248)  !important;
}
.mint-radiolist-title:before{
    content: "*";
    position: absolute;
    color: red;
    left: 10px;
}
.mint-radio-label,.mint-checkbox-label{
    color: #888;
}
.mint-button--primary.is-plain {
    background-color: transparent !important;
}

/*element-ui*/
.select .el-input-group__append{
    color: white;
    background-color: rgb(94,186,185);
}

/*自定义*/
.myReturn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    font-size: 14px;
    color: rgb(0,149,147);
    border-top: 1px solid rgba(0,0,0,0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.myReturn a{
    color: rgb(0,149,147);
    font-size: 14px;
}
.item{
    background-color: white;
    padding: 0 10px;
    margin-bottom: 1px;
}